body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    height: 100vh;
  flex-direction: column;
  }
  .blog-link-text {
    color: #357a30;
    font-weight: 700;
  }
.blog-link-blue {
    color: #1578cb;
}
#linkPreview {
    min-height: 25px;
}
.active {
    font-weight: 700;
}
  h2 {
    text-align: center;
    color: #333;
    padding-top: 2rem;
  }
  nav {
      max-width: 800px;
    width: 100%;
  }
  nav ul {
      display: flex;
  gap: 2rem;
  list-style-type: none;
  background-color: #f3f7f3;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #b9b9b9;
}

nav ul li {
  margin: 0; 
}

nav ul li a {

  color: inherit; 
}

  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;

  }

  label {
    display: block;
    margin-bottom: 8px;
    color: #555;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  width: 100%;
  text-align: center;
  }
button.copy {
background-color: #a2a2a2;

}
button.example, button.example:hover {
max-width: 600px;
  background-color: transparent;
  color: #7f7b7b;
  padding-top: 2rem;
  font-size: 14px;

}
button.example:hover {
color:  #000000;
}
button.copy:hover {
background-color: #7c7b7b;
}

  button:hover {
    background-color: #45a049;
  }

  #shortCodeResult, #linkResult {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    white-space: pre-wrap;
    background-color: #f4f4f4;
    padding: 1rem;
    min-height: 80px;
    font-family: consolas;
    font-size: 14px;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  }
